@model KN133PfisterSYelögrüE.Models.Torschuetzen
@{
    ViewBag.Title = "Torschuetzen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Törschützen</h2>
<br />
<table>
    <tr>
        <th>Name</th>
        <th>Anzahl Tore</th>
    </tr>
    <tr>
        <td>@Model.Name </td>
        <td>@Model.AnzTore </td>
    </tr>
</table>

